div{
    display: inline-block;
width: 50%;
height: 200px;
background-image: url("https:\\picsum.photos\\100022");
background-position: center;
background-repeat: repeat-x;


border: 5px solid rgb(204, 32, 32)








}