.img{
    max-width: 100px;
}


.container{
width: 1140px;
margin: 0 auto;
border: 1px solid black;


}


nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;


}
.nav_logo{

width: 500px;
display: inline-block;
flex-direction: column;
justify-content: space-between ;
margin: right 40%; ;
width: 500px;
}
 .nav_item{
display: inline-block;
 }
 .nav_item{
    padding: 15px;
 }

.nav_link{
    text-decoration: none;
}



 




 }

